h1{
    text-align: center;
    margin-top: 50px;
}
.main{
    height: 400px;
    width: 600px;
    background-color: aqua;
    margin: 30px 0 0 400px ;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    padding: 50px 0 0 175px;
    box-shadow: 5px 5px rgb(150, 150, 150);
}
label{
    font-size: 25px;
    font-weight: 20px;
}
input{
    height: 20px;
    width: 200px;
}
button{
    height: 30px;
    width: 100px;
    font-weight: bold;
    border-radius: 4px;
    margin: 15px 0 0 125px;
}
button:hover{
    box-shadow: 2.5px 2.5px rgb(56, 56, 56);
}
#op{
    font-size: 40px;
    margin-left: 140px;
}
#comment{
    font-size: 20px;
    margin-left: 150px;
}